<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Gestion des classes</h4>
                        <p class="card-category"> Liste des classes</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" >
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Nom Niveau
                                </th>

                                </thead>

                                <tbody *ngFor="let niveau of niveaList">
                                <tr >
                                    <td>
                                        {{niveau.idniveau}}
                                    </td>
                                    <td>
                                        {{niveau.libelle}}
                                    </td>

                                    <td>
                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="removeniveau(niveau.idniveau)">supprimer</button>
                                        <button mat-raised-button type="submit" class="btn btn-info pull-right" (click)="onSelectniveau(niveau.idniveau)" >modifier</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-success pull-left" (click)="navigate('./addniveau')">Ajouter une niveau </button>
            </div>
        </div>


    </div>
</div>

